.cards-container {
  padding: 5%;
  margin-top: 20px;
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.card-div {
  width: 25%;
  border: 2px solid #ebf2fa;
  padding: 2%;
  border-radius: 10px;
}
.removed-card-div {
  width: 25%;
  border: 2px solid red;
  padding: 2%;
  border-radius: 10px;
}
.removed-card-div a {
  text-decoration: none;
}
.card-div a {
  text-decoration: none;
  color: inherit;
}
.card-div:hover {
  background-color: #ebf2fa;
  cursor: pointer;
}
.sort-btn-div {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.sortBtn,
.btn {
  align-items: center;
  background-color: var(--green);
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;

  justify-content: center;

  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition:
    background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  margin-right: 10px;
}

.sortBtn:hover,
.sortBtn:focus,
.btn:hover,
.btn:focus {
  background-color: var(--brown);
  color: #ffffff;
}
.search-div {
  display: flex;
  justify-content: center;
  padding: 2%;
}
.search-div form {
  display: flex;
  gap: 10px;
  padding: 15px;
}
.search-div button {
  padding: 10px;
}
.display {
  display: block;
}
.none {
  display: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.display-sure-div {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.none-sure-div {
  display: none;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .card-div {
    width: 30%;
  }
}
@media screen and (max-width: 767px) {
  .card-div {
    width: 40%;
  }
}
